body {
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  user-select: none;
}

elite {
  color: var(--white);
}

*{
  padding:0;
  margin:0;
  outline: none;
}
:root {
  --blue: #55B1F5;
  --blueHover: #67b6f0;
  --blueActive: #42a9f5;
  --white: white;
  --black: #19141E;
  --gray:#9c9c9c;

  --ombra: 0px 0px 20px 0px rgba(0,0,0,0.4);
}

/*BACKGROUND*/
#background {
  position: absolute;
  z-index: -1;
  top:0;
  right:0;
}

/*NAVIGATION BAR*/
#navigationBar {
  width:100%;
  height: 70px;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: right;
  position: absolute;
  right:20px;
}
.Tab {
  margin:0 7px;
  font-size:16px;
  color:#008080;
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.Tab:hover {
  color:var(--gray);
}
#selectedTab {
  font-size:18px;
  color: #EFC01A
}

/*PAGE*/
#page {
  position: absolute;
  z-index: 0;
  top:360px;
  left:130px;
}
#title {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: var(--white);
  font-size:65px;
  line-height: 100%;
}
#subtitle {
  font-family: 'Open Sans', sans-serif;
  color:#1272ae;
  font-size:25px;
}
#page .button {
  width:280px;
  height:50px;
}

/*BUTTON*/
.button {
  background-color:#1272ae;
  border-radius: 10px;
  box-shadow: var(--ombra);
  margin:20px 0;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
  font-size:17px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  user-select: none;
}
.button:hover {
  transform: scale(1.01);
  background-color: var(--blueHover);
}
.button:active {
  transform: scale(0.99);
  background-color: var(--blueActive);
}